{% extends 'formSueldo.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">SUELDOS</h4>
    <hr class="bg-success border-4 border-top border-success">
        <div class="col-md-6">
            <label class="form-label fw-bold">Id Sueldo:</label>
            <input type="text" class="form-control" placeholder="Ingrese ID de sueldo">
        </div>
        <div class="col-md-6">
            <label class="form-label fw-bold">Fecha:</label>
            <input type="date" class="form-control" placeholder="Ingrese fecha de pago de sueldo">
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label fw-bold">Codigo Empleado:</label>
            <select id="inputState" class="form-select" style="width: 650px;">
                <option selected>-------</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Estado
                </label>
            </div>
        </div>

{% endblock %}

